################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QueueSample/.vs/QueueSample/v15/Server/sqlite3/storage.ide-wal
/QueueSample/.vs/QueueSample/v15/Server/sqlite3/storage.ide-shm
/QueueSample/.vs/QueueSample/v15/Server/sqlite3/storage.ide
/QueueSample/.vs/QueueSample/v15/Server/sqlite3/db.lock
/QueueSample/MessageConsumer/bin/Debug/netcoreapp2.2
/QueueSample/MessageConsumer/obj
/QueueSample/MessagePublisher/bin/Debug/netcoreapp2.2
/QueueSample/MessagePublisher/obj
QueueSample/.vs/QueueSample/v15/.suo
/TopicSample/Consumer/bin/Debug/netcoreapp2.2
/TopicSample/Consumer/obj
/TopicSample/Publisher/bin/Debug/netcoreapp2.2
/TopicSample/Publisher/obj
/TopicSample/.vs/TopicSample/v15/Server/sqlite3
*.suo
/QueueSample/.vs/QueueSample/v16/Server/sqlite3
